@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.app {
  font-family: "Oswald", sans-serif;
}
