
.footer {
  margin: 100px 200px 20px 200px;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  &__row {
    display: flex;
    gap: 50px;

    & div {
      flex: 1;
    }
    &-left {
      display: flex;
      gap: 50px;
      &-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &-title {
          font-size: 18px;
          font-weight: 500;
          color: #555;
        }
      }
    }

    &-right {
      display: flex;
      gap: 50px;
      &-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &-title {
          font-size: 18px;
          font-weight: 500;
          color: #555;
        }
      }
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    &-left {
      display: flex;
      align-items: center;
      &-logo {
        font-weight: bold;
        font-size: 24px;
        color: #2879fe;
      }
      &-copyright {
        margin-left: 20px;
        font-size: 12px;
        color: gray;
      }
    }
    &-right {
      height: 50px;
    }
  }
}
