.products {
  padding: 30px 50px;
  &__container {
    display: flex;
  }

  &__left {
    flex: 1;
    position: sticky;
    height: 100%;
    top: 50px;

    &-filter-item {
      margin-bottom: 30px;

      h2 {
        font-weight: 400;
        margin-bottom: 20px;
      }

      &-input {
        margin-bottom: 10px;
        label {
          margin-left: 10px;
        }
      }
    }
  }

  &__right {
    flex: 3;

    &-img img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-bottom: 50px;
    }
  }
}
